h1, h2, h3, p, span, div{
	font-family: 'Arial';
}

body{
	background-image:url("../image/background.jpg");
}

#introduce-container{
	position:absolute;
	margin: 0 auto;
	padding: 15px 30px;			
	overflow: hidden; 
	text-align: left; 
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:15px;            /* W3C syntax */
	overflow-y: auto;
}

#bienvenue-container{
	position:absolute;
	margin: 0 auto;
	padding: 15px 30px;			
	overflow: hidden; 
	text-align: left; 
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 15px;      /* Gecko browsers */
	-webkit-border-radius: 15px;   /* Webkit browsers */
	border-radius:15px;            /* W3C syntax */
	overflow-y: auto;
	font-size: 1.5em;
}

#introduce-content{
	font-size: 1.5em;
}

#map-container{
	margin: 0 auto; 
	position: relative; 
	overflow: hidden; 
	text-align: left; 
	z-index: 0;
}

#name-container{
	z-index:10; 
	position:absolute; 
	text-align:center; 
	left:20%; 
	right:20%;
}